
<div class="new-employee__container animate__animated animate__fadeIn">

  <div class="new-employee__container--description">
    <h2>{{ 'new_employee.title' | translate }}</h2>
    <small>{{ 'new_employee.description' | translate }}</small>
  </div>

  <form (submit)="formSubmit();" >
    <div *ngIf="alertMessage" class="animate__animated animate__fadeIn" >{{alertMessage}}</div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'new_employee.form.name' | translate }}</mat-label>
      <input matInput
        name="name"
        [(ngModel)]="newEmployeeData.name"
      >
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'new_employee.form.salary' | translate }}</mat-label>
      <input matInput
      name="salary"
      [(ngModel)]="newEmployeeData.salary"
      >
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'new_employee.form.age' | translate }}</mat-label>
      <input matInput
      name="age"
      [(ngModel)]="newEmployeeData.age"
      >
    </mat-form-field>
    <button
      (submit)="formSubmit();"
      mat-raised-button color="primary"
      class="button-block" >{{ 'new_employee.form.button' | translate }}</button>
  </form>
</div>



