


<section class="detail-profile__container animate__animated animate__fadeIn">
  <div class="detail-profile__img">
    <img src="../../../assets/picture-default.png" alt="">
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="detail-profile__data animate__animated animate__fadeIn">
    <h1>{{name}}</h1>
    <div class="detail-profile__data--item" >
      <p> Salary: </p>
      <p>{{this.salary | currency: 'EUR'}}</p>
    </div>
    <div class="detail-profile__data--item">
      <p>Age: </p>
      <p>{{age}}</p>
    </div>
    <div class="detail-profile__btn-action">
      <button mat-raised-button color="basic">Edit</button>
      <button mat-raised-button color="warn" (click)="openDialog()">Delete</button>
    </div>
  </div>
</section>

<div class="detail-profile__btn--container animate__animated animate__fadeIn">
  <button mat-raised-button color="primary" routerLink="/" class="detail-profile__btn-home" >Go back</button>
</div>


