.detail-profile__container {
  max-width: 600px;
  display: flex;
  margin: 50px auto;
  font-size: 1.5rem;
}

.detail-profile__img {
  width: 50%;
}

.detail-profile__img img {
  width: 100%;
  border-radius: 5px;
}

.detail-profile__data {
  padding: 40px;
  width: 50%;
}

.detail-profile__data h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.detail-profile__data--item {
  display: flex;
  justify-content: space-between;
}

.detail-profile__btn--container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
}

.detail-profile__btn-home {
  width: 100%;
}

.detail-profile__btn-action {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.detail-profile__btn-action button {
  width: 48%;
}

mat-spinner {
  margin: 50px auto;
}

@media (max-width: 500px){
  .detail-profile__container  {
    flex-direction: column;
    align-items: center;
  }
  .detail-profile__btn-home {
    width: 80%;
  }
  .detail-profile__btn--container {
    display: flex;
    justify-content: center;
  }
}