


<section class="detail-profile__container animate__animated animate__fadeIn">
  <div class="detail-profile__img">
    <img src="../../../assets/picture-default.png" alt="">
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="detail-profile__data animate__animated animate__fadeIn">
    <h1>{{name}}</h1>
    <div class="detail-profile__data--item" >
      <p> {{'detail_employee.info.salary' | translate }}: </p>
      <p>{{this.salary | currency: 'EUR'}}</p>
    </div>
    <div class="detail-profile__data--item">
      <p>{{'detail_employee.info.age' | translate }}: </p>
      <p>{{age}}</p>
    </div>
    <div class="detail-profile__btn-action">
      <button mat-raised-button color="basic">{{'detail_employee.info.edit_button' | translate }}</button>
      <button mat-raised-button color="warn" (click)="openDialog()">{{'detail_employee.info.delete_button' | translate }}</button>
    </div>
  </div>
</section>

<div class="detail-profile__btn--container animate__animated animate__fadeIn">
  <button mat-raised-button color="primary" routerLink="/" class="detail-profile__btn-home" >{{'detail_employee.button' | translate }}</button>
</div>


