<section class="hero__container animate__animated animate__fadeIn">
  <h1>{{ 'hero.title' | translate }}</h1>
  <p>{{ 'hero.description' | translate }}</p>
  <a routerLink="/employees"  mat-raised-button color="primary" class="country__btn">
    {{ 'hero.button' | translate }}
  </a>

  <div class="shape shape-1"></div>
  <div class="shape shape-2"></div>
  <div class="shape shape-3"></div>
  <div class="shape shape-4"></div>
  <div class="shape shape-5"></div>
  <div class="shape shape-6"></div>
</section>
