.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,0) 11%, rgba(63,81,181,.9) 100%);
}

.hero__container h1 {
  text-transform: uppercase;
  font-size: 2rem;
  width: 80%;
  max-width: 500px;
  text-align: center;
  padding: 50px 0;
  letter-spacing: 3px;
  font-weight: 500;
  color: white;
  text-shadow: 0 0 5px rgba(39, 36, 66, 0.3);
}

.hero__container p {
  text-align: center;
  padding: 20px 30px;
  color: white;
  font-size: 1.2rem;
  max-width: 600px;
  font-weight: 200;
  text-shadow: 0 0 5px rgba(39, 36, 66, 0.3);
}