.chart__title {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 1.5rem;
  color: rgb(82, 82, 82);
}

.chart__description {
  text-align: center;
  color: rgb(82, 82, 82);
}

.figure {
  display: flex;
  justify-content: center;
  border: 2px soli red;
  color: #8a8b8f;
}

@media (max-width: 500px) {
  .figure {
    width: 80%;
  }
}