<app-hero></app-hero>

<h1 class="home__title animate__animated animate__fadeIn">{{ 'list.title' | translate }}</h1>

<mat-accordion class="example-headers-align animate__animated animate__fadeIn" >
  <mat-expansion-panel *ngFor="let employee of employees | pagination:pageSize:pageNumber, let i = index "  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        {{employee.employee_name}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'list.detail.age' | translate }}: {{employee.employee_age}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <a routerLink="/employee/{{i + 1}}"  mat-raised-button color="primary" class="expansion__btn">
      {{ 'list.detail.button' | translate }}
    </a>
  </mat-expansion-panel>
  <mat-paginator [length]="employees.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
  </mat-paginator>
</mat-accordion>