.navbar {
  justify-content: space-between;
}

.navbar__link {
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgb(39, 39, 39);
}

.lang__selector {
  position: absolute;
  right: 10px;
  top: 92vh;
  background-color: rgb(83, 83, 83);
  font-size: .8rem;
  opacity: .5;
  padding: 0 15px;
}

.lang__selector:hover {
  opacity: 1;
}

.lang__selector select {
  background-color: rgb(54, 54, 54);
  text-transform: uppercase;
  color: white;
}

@media (max-width: 500px) {
  .employees__link--home {
    display: none;
  }
}